$light-background: #F2F2F2;
$dark-background: #073B3A;
$accent-grey: #828A95;


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: $light-background;
}

h5 {

}

main {
  flex: 1 0 auto;
}

ol.recipe-steps {
  li {
    line-height: 50px;
  }
  padding-left: 0;
  list-style-position: inside;
}

.step,
.ingredient,
.quantity {
  margin: 0;
}

.hidden {
  visibility: hidden;
}

.main-header {
    background: url('../assets/banana-waffle.jpg') center / cover;
    height: 90vh;
}

.main-nav {
  box-shadow: none;
  background: transparent;
}
.navbar {
  background: $dark-background;
}

#edit-recipe-btn,
#delete-recipe-btn {
  text-align: center;
  margin: 8px 0;
  // width: 75%;
}

// Recipe Page
.byline {
  color: $accent-grey;
}
.recipe-rating {
  .material-icons {
    color: gold;
  }
  display: flex;
  align-items: center;
}

.recipe-ingredients {
  .collection-item {
    background-color: $light-background;
  }
  border: none;
}
.collection.with-header {
  h5.collection-header {
    background-color: $light-background;
  }
}

.italic {
  font-style: italic;
}

footer.page-footer {
  height: 10vh;
  background: $dark-background;
}
